<?xml version="1.0" encoding="utf-8" ?>
<components>

  <component name="NonSpatialDao">
    <parameter name="DescriptorClass" value="Azavea.Open.DAO.Odp.OdpDescriptor,Azavea.Open.DAO.Odp" />
    <parameter name="SERVER" value="(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=LR13)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=LR13)));" />
    <parameter name="DATABASE" value="" />
    <parameter name="USER" value="UNITTEST" />
    <parameter name="PASSWORD" value="unittest" />
    <parameter name="MAPPING" value="..\..\Tests\mapping.xml" />
  </component>

  <component name="SpatialDao">
    <parameter name="DescriptorClass" value="Azavea.Open.DAO.Odp.OdpSdeStDescriptor,Azavea.Open.DAO.Odp" />
    <parameter name="SERVER" value="(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=LR13)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=LR13)));" />
    <parameter name="DATABASE" value="" />
    <parameter name="USER" value="UNITTEST" />
    <parameter name="PASSWORD" value="unittest" />
     <parameter name="MAPPING" value="..\..\Tests\mapping.xml" />
  </component>

</components>
